<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hermes: Easy file transfer server</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" href="css/hermes.css" media="screen" />
</head>
<body>
	<p th:text="'Hello, ' + ${name} + '!'" />

	<div class="use-sidebar sidebar-at-left" id="main">
		<div id="content">Content</div>
		<div id="sidebar">Sidebar</div>
		<a href="#" id="separator"></a>
		<div class="clearer">&nbsp;</div>
	</div>

</body>
<script	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="javascript/hermes.js"></script>
</html>